.kz-award-area {
    display: grid;
    grid-template-rows: auto;

    .kz-row {
        
        &:first-child {
            border-top: 1px solid #333;
        }
        
        display: grid;
        grid-template-columns: 60px 1fr 150px;
        column-gap: 10px;
        border-bottom: 1px solid #333;

        div {
            
            &:first-child {
                border-left: 1px solid #333;
            }

            border-right: 1px solid #333;
            padding: 5px;
        }
    }
}

.post-preview.sheep {
    .content {
        .kz-row {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 30px;
            grid-template-areas: 'a b';

            &.reverse {
                grid-template-columns: 1fr auto;
                div {
                    grid-area: b;
                }
                p {
                    grid-area: a;
                }
            }
        }
    }
}

.kz-img-row {
    display: flex;
    column-gap: 10px;
}

@media (max-width: 650px) {
    .hide-min {
        display: none;
    }
    
}